<app-home></app-home>

<h3 class="mt-5 mb-3">Create a new reservation</h3>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit(reservationForm.value)">

    <div class="row mb-5">
        <div class="col">
            <label class="form-label">Check-In Date:</label>
            <input type="date" formControlName="checkInDate" class="form-control">
            <small class="text-danger"
                *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                Check-In Date Required
            </small>
        </div>

        <div class="col">
            <label class="form-label">Check-Out Date:</label>
            <input type="date" formControlName="checkOutDate" class="form-control">
            <small class="text-danger"
                *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
                Check-Out Date Required
            </small>

        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            <label class="form-label">Guest Name:</label>
            <input type="text" formControlName="guestName" class="form-control">
            <small class="text-danger"
                *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
                Guest Name Required
            </small>
        </div>

        <div class="col">
            <label class="form-label">Guest Email:</label>
            <input type="email" formControlName="guestEmail" class="form-control">
            <small class="text-danger"
                *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
                Guest Email Required
            </small>

        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <label class="form-label">Room Number:</label>
            <input type="number" formControlName="roomNumber" class="form-control">
            <small class="text-danger"
                *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
                Room Number is Required
            </small>

        </div>
    </div>



    <button class="btn btn-primary" type="submit" [disabled]="reservationForm.invalid">Submit</button>

</form>